.artist__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 24px 18px;
}

.artist__avatar {
  width: 100px !important;
  height: 100px !important;
  margin-bottom: 12px;
}
